VITE_API_BASE_URL=http://localhost:8000
VITE_PLATFORM_DOMAIN=tienda.com

# Google OAuth — Client ID de tu proyecto en Google Cloud Console
VITE_GOOGLE_CLIENT_ID=598073708215-q990lkvpdr2s9r8lgenidj1qdaiag2pn.apps.googleusercontent.com
